# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
# (Please don't specify an indent_size here; that has too many unintended consequences.)

[*.sln]
indent_style = tab

[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

[*.{js,json}]
indent_size = 2

[*.xml]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.{cmd,ps1}]
indent_size = 2

[*.{htm,html,js,ts,tsx,css,scss,less,vue}]
end_of_line = lf
indent_size = 2

[*.md]
max_line_length = off

[*.{cs,csx,vb,vbx}]
charset = utf-8-bom
end_of_line = crlf
indent_size = 4
max_line_length = 140

[*.{htm,html,js,ts,tsx,css,scss,less,vue,cs,csx,vb,vbx}]
insert_final_newline = true

# --- .NET code style settings -------------------------------------------------

# "this." qualifier
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#this-and-me
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning

# Language keywords instead of framework type names for type references
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#language-keywords
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:suggestion

# Modifier preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#normalize-modifiers
dotnet_style_require_accessibility_modifiers = always:warning
dotnet_style_readonly_field = true:suggestion
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:warning

# Parentheses preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#parentheses-preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent

# Expression-level preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#expression-level-preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion

# Null-checking preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#null-checking-preferences
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion

# --- C# code style settings ---------------------------------------------------

# Implicit and explicit types
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#implicit-and-explicit-types
csharp_style_var_for_built_in_types = true:none
csharp_style_var_when_type_is_apparent = true:none
csharp_style_var_elsewhere = true:none

# Expression-bodied members
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#expression-bodied-members
csharp_style_expression_bodied_methods = true:silent
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_operators = true:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent

# Pattern matching
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#inlined-variable-declarations
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

# Inlined variable declarations
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#inlined-variable-declarations
csharp_style_inlined_variable_declaration = true:suggestion

# Expression-level preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#c-expression-level-preferences
csharp_prefer_simple_default_expression = true:suggestion

# "Null" checking preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#c-null-checking-preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = false:suggestion

# Code block preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#code-block-preferences
csharp_prefer_braces = true:warning

# Unused value preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#unused-value-preferences
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_style_unused_value_assignment_preference = discard_variable:suggestion

# Index and range preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#index-and-range-preferences
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion

# Miscellaneous preferences
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019#miscellaneous-preferences
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_using_directive_placement = outside_namespace:warning
csharp_prefer_static_local_function = true:suggestion
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion

# --- Formatting conventions ---------------------------------------------------

# Organize usings
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions?view=vs-2019#organize-using-directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Newline options
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions?view=vs-2019#new-line-options
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation options
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions?view=vs-2019#indentation-options
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = true

# Spacing options
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions?view=vs-2019#spacing-options
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

# Wrap options
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions?view=vs-2019#wrap-options
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true

# --- Naming conventions -------------------------------------------------------
# --- Styles definitions:

# base styles
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Style: _camelCase
dotnet_naming_style.prefix_underscore_style.capitalization = camel_case
dotnet_naming_style.prefix_underscore_style.required_prefix = _

# Style: IPascalCase
dotnet_naming_style.prefix_i_style.capitalization = pascal_case
dotnet_naming_style.prefix_i_style.required_prefix = I

# --- Symbol definitions

# Symbol: const (no matter accessibility)
dotnet_naming_symbols.constant_field_symbol.applicable_kinds = field
dotnet_naming_symbols.constant_field_symbol.required_modifiers = const

# Symbol: static (no matter accessibility)
dotnet_naming_symbols.static_field_symbol.applicable_kinds = field
dotnet_naming_symbols.static_field_symbol.required_modifiers = static

# Symbol: private field
dotnet_naming_symbols.private_field_symbol.applicable_kinds = field
dotnet_naming_symbols.private_field_symbol.applicable_accessibilities = private

# Symbol: non-private field
dotnet_naming_symbols.non_private_field_symbol.applicable_kinds = field
dotnet_naming_symbols.non_private_field_symbol.applicable_accessibilities = public,internal,friend,protected,protected_internal,protected_friend

# Symbol: interface
dotnet_naming_symbols.interface_type_symbol.applicable_kinds = interface

# Symbol: parameter
dotnet_naming_symbols.parameter_symbol.applicable_kinds = parameter

# Symbol: type
dotnet_naming_symbols.type_symbol.applicable_kinds = class,struct,enum,delegate

# Symbol: member
dotnet_naming_symbols.member_symbol.applicable_kinds = method,property,event

# --- Rules definitions

# Rule: constants
dotnet_naming_rule.constants_must_be_pascal_case.severity = error
dotnet_naming_rule.constants_must_be_pascal_case.style = pascal_case_style
dotnet_naming_rule.constants_must_be_pascal_case.symbols = constant_field_symbol

# Rule: static fields
dotnet_naming_rule.constants_must_be_pascal_case.severity = error
dotnet_naming_rule.constants_must_be_pascal_case.style = pascal_case_style
dotnet_naming_rule.constants_must_be_pascal_case.symbols = static_field_symbol

# Rule: private fields
dotnet_naming_rule.private_fields_must_be_prefixed_with_underscore.severity = error
dotnet_naming_rule.private_fields_must_be_prefixed_with_underscore.style = prefix_underscore_style
dotnet_naming_rule.private_fields_must_be_prefixed_with_underscore.symbols = private_field_symbol

# Rule: non-private fields
dotnet_naming_rule.non-private_fields_must_be_pascal_case.severity = error
dotnet_naming_rule.non-private_fields_must_be_pascal_case.style = pascal_case_style
dotnet_naming_rule.non-private_fields_must_be_pascal_case.symbols = non_private_field_symbol

# Rule: interface
dotnet_naming_rule.interface_must_be_prefixed_with_i.severity = error
dotnet_naming_rule.interface_must_be_prefixed_with_i.style = prefix_i_style
dotnet_naming_rule.interface_must_be_prefixed_with_i.symbols = interface_type_symbol

# Rule: parameters
dotnet_naming_rule.parameter_must_be_camel_case.severity = error
dotnet_naming_rule.parameter_must_be_camel_case.style = camel_case_style
dotnet_naming_rule.parameter_must_be_camel_case.symbols = parameter_symbol

# Rule: types (non-interface)
dotnet_naming_rule.type_must_by_pascal_case.severity = error
dotnet_naming_rule.type_must_by_pascal_case.style = pascal_case_style
dotnet_naming_rule.type_must_by_pascal_case.symbols = type_symbol

# Rule: members
dotnet_naming_rule.member_must_by_pascal_case.severity = error
dotnet_naming_rule.member_must_by_pascal_case.style = pascal_case_style
dotnet_naming_rule.member_must_by_pascal_case.symbols = member_symbol
