name: Build and test

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - 'samples/**'
      - '*.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          10.0.x

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --nologo --no-restore --configuration Release

    - name: Test (net10.0)
      run: dotnet test --nologo --no-build --configuration Release --verbosity normal -f net10.0

    - name: Test (net9.0)
      run: dotnet test --nologo --no-build --configuration Release --verbosity normal -f net9.0

    - name: Test (net8.0)
      run: dotnet test --nologo --no-build --configuration Release --verbosity normal -f net8.0 ./test/W4k.AspNetCore.Correlator.UnitTests/
