name: Create package

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Package version: <major>.<minor>.<patch>'
        required: true

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:

    - name: Setup node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install semver
      run: |
        sudo npm i -g semver

    - name: Validate version
      run: |
        semver ${{ github.event.inputs.version }}
        if [ $? != 0 ]; then exit 1; fi

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          10.0.x

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --nologo --no-restore --configuration Release

    - name: Test
      run: dotnet test --nologo --no-build --configuration Release --verbosity normal

    - name: Pack
      run: dotnet pack --nologo --no-build --configuration Release -p:Version=${{ github.event.inputs.version }} src/W4k.AspNetCore.Correlator

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: w4k-aspnetcore-correlator-${{ github.event.inputs.version }}
        path: src/W4k.AspNetCore.Correlator/bin/Release/W4k.AspNetCore.Correlator.*.nupkg
